# Puerto local del microservicio de mensajeria
SPRING_SERVER_MAIL_PORT=8091

# Context path
SPRING_SERVER_CONTEXT_PATH=/maestria-computacion

# Configuracion SMTP
SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=tu-correo@gmail.com
SPRING_MAIL_PASSWORD=tu-app-password-de-gmail
